<!--<!doctype html>-->
<!--<html>-->
<!--  <head>-->
<!--    <title>Fwitter</title>-->
<!--  </head>-->
<!--  <body>-->

<!--    <div class="container">-->
<!--      <% if logged_in? %>-->
<!--        <h1>Welcome to Fwitter, <%= "#{current_user.username}"%>!</h1>-->
<!--        <a href="/logout">Sign Out</a><br>-->
<!--      <% else %>-->
<!--        <a href="/signup">Sign Up</a>-->
<!--        <a href="/login">Log In</a>-->
<!--      <% end %>-->
<!--    </div>-->
<!--<%= yield %>-->
<!--  </body>-->
<!--</html>-->
